/* Global config */
@import "config/variables"; // Your custom variables
@import "config/colors"; // Your custom color scheme
@import "config/settings"; // Default settings file. Uncomment each setting you need to change
@import "config/fonts"; // Fonts for the website

/* Foundation 5 */
@import "foundation"; // Foundation 5 by Zurb

/* Site structure */
@import "site/structure"; // Your site structure

@import "../bower_components/foundation-icon-fonts/foundation-icons";

#logo {
    height: 95%;
}

$lh-right: 45px - 5px;

h1, h2, h3, h4, h5 {
    font-family: "Continuum", Helvetica, Arial, sans-serif;
    color: scale-color($primary-color, $lightness: +20%);
}


// Styling nav bar
.active a {
    border-bottom: 5px solid $alert-color !important;
}

#menu-menu-2-ouf-1 .menu-item a {
    border-bottom: 5px solid scale-color($primary-color, $lightness: +50%);
    font-family: "Continuum", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: $lh-right;
}

.menu-item a {
    font-weight: normal;
    font-family: "Continuum", Helvetica, Arial, sans-serif;
}

.inactive a {
    border-bottom: 5px solid scale-color($primary-color, $lightness: +50%) !important;
}

.has-dropdown .inactive a {
    border-bottom: 0 !important;
}

.menu-item-appel-offre a {
    background-color: $alert-color !important;
    border-bottom: 5px solid $alert-color !important;
}

$footer-scale: 2rem;

.footer-bg {
    color : $secondary-color;
    background-color : $primary-color;
}

footer.row {
    padding-top : $footer-scale;
    padding-bottom : $footer-scale;
    * {
        color: $secondary-color;
    }
}

.footer-title {
    font-size: $footer-scale;
    margin-bottom: $footer-scale / 4;
    font-family: "Continuum", Helvetica, Arial, sans-serif;
}

.information {
    font-size: $footer-scale / 1.5;
}

#mentions {
    margin-top: $footer-scale;
    line-height: $footer-scale;
    #plaquette a {
        color : $alert-color;
    }
}


$stage-scale: 10rem;

.stage {
    height : $stage-scale;
    line-height: $stage-scale;

    .stage-dot {

        .stage-circle {
            border-radius: 50%;
            transition: background-color .15s linear;
            background-color: $primary-color;
            display: inline-block;
            line-height: $stage-scale * 0.75;
            vertical-align: middle;

            .stage-number {
                vertical-align: middle;
                font-family: helvetica, arial, sans-serif;
                color: #ffffff;
                font-weight: bold;
                text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
            }
        }
    }

    .stage-text {
        display: inline-block;
        line-height: $stage-scale/2;

        h4, p {
            line-height: $stage-scale/10;
            vertical-align: center;
        }
    }
}

// Medium screens max
@media only screen and (max-width: 40.063em) {
    .stage-circle {
        width: $stage-scale * 0.5;
        height: $stage-scale  * 0.5;
        border : $stage-scale * 0.02 solid white;
        .stage-number {
            line-height: $stage-scale * 0.49;
            font-size: $stage-scale / 3;
        }
    }
} /* max-width 641px, medium screens */

// Medium screens min
@media only screen and (min-width: 40.063em) {

    .stage-dot {
        background-image: url("svgs/ap-bande.svg");
        background-position: center;
        background-size: 10% 100%;
        background-repeat: no-repeat;
        .stage-circle {
            width: $stage-scale * 0.75;
            height: $stage-scale  * 0.75;
            border : $stage-scale * 0.03 solid white;
            .stage-number {
                line-height: $stage-scale * 0.70;
                font-size: $stage-scale / 5 * 2;
            }
        }
    }
} /* max-width 641px, medium screens */

//Domaines de compétences
$dc-top-bar-scale: 7rem;

#dc-top-bar {
    height: $dc-top-bar-scale;
    margin-bottom: $dc-top-bar-scale;

    div {
        height: $dc-top-bar-scale;
        a {
            color: white;
            width: 100%;
        }
    }
}

.dcinfo {
    background-color: $info_color;
}

.dcepa {
    background-color: $epa_color;
}

.dcmc {
    background-color: $mc_color;
}

.comp_desc {
    padding: $dc-top-bar-scale / 5;
    margin-bottom: $dc-top-bar-scale / 3;
}

// Landing page specifics
.landing-logo {
    height : 200px;
}

.comp-logo {
  margin-left: auto;
  margin-right: auto;
  height: 60px;
}

/*********************************************
 * ROLLING LINKS
 *********************************************/

.roll {
    display: inline-block; /* give it a layout */    
    overflow: hidden;
    vertical-align: top; /* just to be sure */

    /*
     * The smaller the number the closer you look at this  element
    */
    -webkit-perspective: 400px;
       -moz-perspective: 400px;
        -ms-perspective: 400px;
            perspective: 400px;

    /*
     * Relative position of the POV
     * Default is 50% 50% so not necessary
    */
    -webkit-perspective-origin: 50% 50%;
       -moz-perspective-origin: 50% 50%;
        -ms-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;    

}

.roll:hover {
    background: none;
    text-shadow: none;
}

.roll span {
    display: block; /* give it a layout */ 
    position: relative;
    padding: 0 2px;

    pointer-events: none;

    /* duration */
    -webkit-transition: all 200ms ease;
       -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
            transition: all 200ms ease;

    -webkit-transform-origin: 50% 0%; /* posx posy */
       -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
    /*
    * CSS3 transform-style explained here:
    * http://www.webkit.org/blog-files/3d-transforms/transform-style.html
    */
}

.roll:hover span {
    background: rgba(0,0,0,0.5);

    -webkit-transform: translate3d( 0px, 0px, -45px ) rotateX( 90deg );
       -moz-transform: translate3d( 0px, 0px, -45px ) rotateX( 90deg );
        -ms-transform: translate3d( 0px, 0px, -45px ) rotateX( 90deg );
            transform: translate3d( 0px, 0px, -45px ) rotateX( 90deg );
}


/* ======================= */
/* = Face after rotation = */
/* ======================= */
.roll span:after {
    content: attr(data-title);
    display: block; /* maybe its not necessary */
    position: absolute; /* position over  */
    left: 0;
    top: 0;

    color: #fff;
    background: $alert-color;

    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    
    /* 
    * translate3d => move up element to the top 
    *     rotateX => rotate till hidden
    */
    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
       -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
        -ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
            transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}

.top-bar-section > ul {
    width: 82%;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
}
.top-bar-section > ul > li {
    float: none;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
}
.top-bar-section > ul > li > a {
    white-space: nowrap;
    text-align: center;
}
