/* Global config */
@import "config/variables"; // Your custom variables
@import "config/colors"; // Your custom color scheme
@import "config/settings"; // Default settings file. Uncomment each setting you need to change

/* Foundation 5 */
@import "foundation"; // Foundation 5 by Zurb

/* Site structure */
@import "site/structure"; // Your site structure

@import "../bower_components/foundation-icon-fonts/foundation-icons";

$lh-right: 45px - 5px;

#menu-menu-2-ouf-1 .menu-item a {
    border-bottom : 5px solid scale-color($primary-color, $lightness: +50%);
    line-height : $lh-right;
}

#menu-menu-2-ouf-1 .menu-item .dropdown .menu-item a {
    border-bottom : 0;
}

#menu-right-top .menu-item a {
    background-color: scale-color($alert-color, $lightness: +10%);
}

#menu-menu-2-ouf-1 .current_page_item a {
    border-bottom : 5px solid $alert-color !important;
}


#menu-menu-2-ouf .current_page_item a {
    border-bottom : 5px solid $alert-color !important;
}

.current-page-ancestor a {
    border-bottom : 5px solid $alert-color !important;
}

.current-page-ancestor ul li a {
    border-bottom : 0 !important;
}

$footer-scale: 2rem;

.footer-bg {
    color : $secondary-color;
    background-color : $primary-color;
}

footer.row {
    padding-top : $footer-scale;
    padding-bottom : $footer-scale;
}

p.footer-title {
    font-size: $footer-scale;
    margin-bottom: $footer-scale / 4;
}

.information {
    font-size: $footer-scale / 1.5;
}

.information a {
    color: $secondary-color;
}

#mentions {
    margin-top: $footer-scale;
}

$stage-scale: 10rem;

.stage-dot {
    height : $stage-scale;
    line-height: $stage-scale;

    .stage-circle {
        width: $stage-scale * 0.75;
        height: $stage-scale  * 0.75;
        border-radius: 50%;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, .35);
        transition: background-color .15s linear;
        background-color: $primary-color;
        display: inline-block;
        line-height: $stage-scale  * 0.75;
        vertical-align: middle;

        .stage-number {
            line-height: $stage-scale * 0.75;
            vertical-align: middle;
            font-family: helvetica, arial, sans-serif;
            color: #ffffff;
            font-size: $stage-scale / 5 * 2;
            font-weight: bold;
            text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
        }
    }

    .stage-text {
        display: inline-block;
        line-height: $stage-scale/2;

        h4, p {
            line-height: $stage-scale/10;
            vertical-align: center;
        }
    }
}

