/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */

$aplicaens_blue : #282D49;
$aplicaens_background : #ECEDF1;
$aplicaens_highlight : #F96705;

$info_color : #4F78BC;
$epa_color : #F26822;
$mc_color : #39B54A;
