/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */

$aplicaens_blue : #282D49;
$aplicaens_background : #ECEDF1;
$aplicaens_highlight : #F96705;
