// Continuum Font APLICAEN

@font-face {
    font-family: "Continuum";
    src: url('fonts/contm.ttf');
}
@font-face {
    font-family: "Continuum";
    font-style: bold;
    src: url('fonts/contb.ttf');
}
@font-face {
    font-family: "Continuum";
    font-weight: lighter;
    src: url('fonts/contm.ttf');
}
